.custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
}

button {
    background-color: rgb(47, 47, 247);
    padding: 10px 6px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    color: white;
    font-weight: 600;
}